/*Cards are intentionally set to all have matching height no matter how long the decsriptions are on each one of them.*/

.card-container {
    max-width: 300px;

    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;

    height: 100%;
    margin: auto;
    overflow: hidden;

    border-radius: 1em;
    background: white;

    .text-container {
        padding: 0 1rem;

        p {
            font-weight: 300;
        }
    }

    .image-container {
        img {
            width: 100%;
            height: 10.5rem;
            object-fit: cover;
        }
    }

    .card-footer {
        padding: 1rem;

        .footer-span {
            display: table;
            text-align: center;
            font-weight: 900;

            width: 2.5em;
            margin: 0 auto;
            line-height: 2.5em;
            border-radius: 50%;
            
            color: #fafafa;
            background: #baa898;
        }
    }
}

@media (max-width: 1200px) {
    .card-container {
        max-width: 250px;
    }
}
