/*Cards are intentionally set to all have matching height no matter how long the decsriptions are on each one of them.*/

.card-container {
    max-width: 300px;

    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;

    height: 100%;
    margin: auto;
    overflow: hidden;

    border-radius: 1em;
    background: white;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .text-container {
        padding: 0 1rem;

        .title-div {
            max-height: 4.8rem;
            overflow: hidden;
        }

        p {
            font-weight: 300;
        }
    }

    .image-container {
        img {
            width: 100%;
            height: 10.5rem;
            object-fit: cover;
        }
    }

    .card-footer {
        padding: 1rem;

        .footer-span {
            display: table;
            text-align: center;
            font-weight: 900;

            width: 2.5em;
            margin: 0 auto;
            line-height: 2.5em;
            border-radius: 50%;

            color: #fafafa;
            background: #32908f;
        }
    }

    .full-image {
        display: none;
    }
}

.card-container:hover .full-image {
    display: flex;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.card-container:hover .card-upper-part {
    display: none;
}

.card-container:hover .card-footer {
    display: flex;
    background-color: transparent;
    position: absolute;
}

@media (min-width: 0px) and (max-width: 600px) {
    .card-container {
        width: 350px;
    }
}

@media (max-width: 1200px) {
    .card-container {
        max-width: 250px;
    }
}
